html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.router-link {
  text-decoration: none;
  color: inherit;
}

/* img behind headers on non Home pages -- background-position allows us to decide which part of image to show */
.banner-wrap {
  background-image: url('public/scotland.jpg');
  background-size: cover;
  height: 10em; 
  background-position: right 0% top 38%;
}

.rate-form-container {
  text-align: center;
}

/* adjust width of input fields here */
#rate-form-field {
  width: 30%;
  margin-bottom: 3%
}

#rate-another-btn {
  background-color: #002F35;
  color: whitesmoke;
  margin-bottom: 1%;
  width: 30%;
}

#submit-btn {
  background-color: #004A2F;
  color: whitesmoke;
  width: 30%;
}
