html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.router-link {
  text-decoration: none;
  color: inherit;
}

/* img behind headers on non Home pages -- background-position allows us to decide which part of image to show */
.banner-wrap {
  background-image: url('public/scotland.jpg');
  background-size: cover;
  height: 10em; 
  background-position: right 0% top 38%;
}

