html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.router-link {
  text-decoration: none;
  color: inherit;
}


