html {
  font-family: 'Montserrat', sans-serif;
  background-image: url('public/scotland.jpg');
  background-size: cover;
}

.header {
  color: whitesmoke;
  padding: 2% 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  text-transform: uppercase;
}

#header-link {
  margin: 1em;
  color: whitesmoke;
  border-color: whitesmoke;
} 

#home-top {
  margin: 10% 10%;
  width: 60%;
  color: whitesmoke;
}

#home-top h1 {
  font-size: 90px;
}

#home-btn {
  margin-top: 3%;
  background-color: whitesmoke;
  color: black;
}

#home-bottom {
  background-color: white;
  width: 75%
}

#home-bottom p {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 36px;
}


