 /* img behind headers on non-/home pages -- background-position allows us to decide which part of image to show */
.bannerWrap {
  background-image: url('../../public/scotland.jpg');
  background-size: cover;
  height: 10em; 
  background-position: right 0% top 38%;
}