.navMenu {
  position: fixed;
  height: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  background: rgba(6,6,6,0.8);
  transition: 0.4s;
  
  &.show {
    height: 400px;
    padding-top: 30%;
  }

  & .link {
    // negative margin moves links off the page so they are not visible/clickable when menu is closed
    margin-top: -20%;
    color: white;
    margin-bottom: 5%;
    font-size: 2em;
    transition: 0.4s;

    &.show {
      margin-top: 0;
    }
  }
}





