@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

.results {
  text-align: center;
}

.title {
  margin-top: 5%;
  font-size: 2.5em;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;

  @include mobile {
    font-size: 1.5em;
  }
}
  
.subData {
  margin-bottom: 2%;
  font-size: 2em;
  text-transform: uppercase;

  span {
    font-style: italic;
    background: #f7a308;
  }

  @include mobile {
    font-size: 1em;
  }
}

 
