// standardize media query with mixin and then use the query inline
@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

.rate {
  text-align: center;
  
  h3 {
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 2.5em;

    @include mobile {
      font-size: 1.5em;
    }
  }
  
  h5 {
    text-transform: uppercase;
    margin-bottom: 3%;
    font-size: 1em;
      @include mobile {
      font-size: .75em;
    }

    a {
      margin-left: .25em;
    }
  }
}
